body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: grid;
    grid-template-areas:
           "navbar"
            "side-nav"
            "main";
}

h3 {
    font-size: 20px;
    font-weight: 400;
    color: #7477bf;
}


* {
    box-sizing: border-box;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.navbar {
    background-color: #7477bf;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    z-index: 1000;
    top: 0;
}


.navbar img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 38px;
    margin-top: 7px;
}

.logo {
    color: #fff;
    font-size: 19px;
    margin-top: 10px;
    margin-right: 10px;
}

.bell-path {
    fill: #fff;
    transition: fill .33s ease-out;
}

.bell-svg {
    height: 25px;
    margin-top: 13px;
}

.bell-container {
    position: relative;
    cursor: pointer;
}

.bell-container:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #90ee90;
    transition: background-color .33s ease-out;
    border-radius: 100%;
    top: 3px;
}

.bell-container:before {
    content: '';
    position: absolute;
    background-color: #a7a9bf;
    height: 100%;
    width: 2px;
    right: -30px;
}

.bell-container:hover .bell-path {
    fill: pink;
}

.bell-container:hover::after {
    background-color: pink;
}
 
.navbar p {
    color: #fff;
    margin-left: 9px;
    font-size: 12px;
    margin-top: 17px;
}

sup {
    font-size: 14px;
}

.side-nav  {
    background-color: #4d4c72;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 25px;
    top: 95px;
}

.svg-color path {
    fill: #fff;
}

.svg-color {
    height: 35px;
    display: block;
    margin: 0 auto;
}

.svg-container:hover .svg-color path {
    fill: #7477bf;
}

.svg-container:hover {
    cursor: pointer;
}

.tab-control {
    width: 100%;
    background: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.tab {
    display: inline-block;
    padding: 20px;
    background: #fff;
    border-right: 1px solid #ccc;
    font-weight: 700;
    position: relative;
    color: #323232;
}

.tab:after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
}

.lineChart-chart-container {
    width: 100%;
    width:85vw;
    position: relative;  
    margin: 0 auto;
}

#alert-bar {
    color: #fff;;
    background-color: #7477bf;
    width: 92%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    display: flex;
}

.alert-text {
    flex-grow: 1;
}

#exit-icon {
    width: 15px;
    fill: #fff;
}

#exit-icon:hover {
    fill: #4d4c72;
    cursor: pointer;
}

#alert-bar.hidden {
    display: none;
}

.header-wrapper {
    margin: 20px auto 0;
    width: 92%;
}

.header {
    font-weight: 700;
    color: #323232;
    margin-bottom: 10px;
    font-size: 16px;
}

.chart-header-wrapper .header {
    flex-grow: 1;
}

.chart-tabs {
    margin-bottom: 15px;
}

.chart-tabs a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #323232;
}


.chart-tabs a.active {
    background-color: #81c98f;
    padding: 5px 12px;
    border-radius: 30px;
    color: #fff;
}

.split-section {
    display: flex;
    margin-top: 20px;
    border-top: 1px solid #ccc;
}

.split-section .half {
    flex: 0 0 50%;
}

.split-section .half:nth-of-type(2) {
    border-left: 1px solid #ccc;
}

.bar-chart-container {
    margin: 20px auto 0;
    width: 92%;
}

.pie-chart-container {
    width: 100%;
    width: 25vw;
    position: relative;  
    margin: 0 auto;
}

.social-section {
    border-top: 1px solid #ccc;
}

.card-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card-wrapper span {
    font-size: 40px;
    color: #777777;
}

.card-wrapper .svg-wrapper {
    width: 100px;
    height: 100px;
    background-color: #7477bf;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.card-wrapper .svg-wrapper svg {
    fill: #fff;
    width: 45px;
}

.card-wrapper .card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 20px;
    flex: 0 0 30%;
    padding: 20px;
    display: flex;
}

.card-wrapper .card h3 {
    margin: 0;
}

.card-wrapper .card .content-wrapper {
    margin: 14px 0 0 20px;
}


.member-card {
    display: flex;
    margin: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.member-card .member {
    width: 80px;
    border-radius: 50%;
}

.member-card .member-name {
    font-weight: 700;
    margin: 0px;
}

.member-card .member-content {
    margin-left: 10px;
    margin-top: 17px;
    width: 100%;
    position: relative;
}

.member-card .member-content a { 
    text-decoration: none;
    color: #9092cb;
}

.member-card .member-content .date {
    position: absolute;
    right: 0px;
    top: 0px;
 }

@media only screen and (min-width: 333px) {
    .logo {
        flex-grow: 1;
    }
}

@media only screen and (min-width: 430px) {
    .navbar {
        padding: 20px;
    }

    .logo {
        font-size: 25px;
        margin-top: 8px;
    }

    .navbar img {
        width: 55px;
        height: 55px;
        margin-top: 0px;
        margin-left: 50px;
    }

    .bell-svg {
        height: 29px;
    }

    .navbar p {
        font-size: 14px;
        margin-left: 20px;
    }

    .chart-header-wrapper {
        display: flex;
    }
}

@media only screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 90px 1fr;
		grid-template-areas:
               "navbar  navbar"
				"side-nav main";
    }

    .side-nav {
        flex-direction: column;
        height: 100%;
        justify-content: start;
        padding: 0px;
        gap: 0px;
        grid-area: side-nav;
    }

    .navbar {
        grid-area: navbar;
    }
    
    .main {
        grid-area: main;
    }

    .svg-container {
        padding: 20px;
    }

}

